
# ui
gradio

# RAG
llama-index
chromadb
jina
# toolchain
pypdf

# middleware
kafka-python
aiokafka
# web
fastapi
uvicorn
requests
pydantic-settings
pycryptodome
httpx

# ai
langchain
docarray
tiktoken
qianfan

#utils
loguru
bidict

# database
sqlalchemy